:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #62C370;
    --color-button-hover: #389446;
    --color-text: #444444;
    --color-white: #FFFFFF;
    --color-bg-item: #FFF9EB;
    --color-border: #000000;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-button-draw: #009ddd;
    --color-button-draw-hover: #0f4571;
    --color-button-clear: #cc6666;
    --color-button-clear-hover: #994d4d;
}

[data-theme="dark"] {
    --color-primary: #2d3748;
    --color-secondary: #1f2429;
    --color-tertiary: #4a5568;
    --color-button: #8BAAAD;
    --color-button-hover: #1C3738;
    --color-text: #edf2f7;
    --color-white: #f7fafc;
    --color-bg-item: #2a2e35;
    --color-border: #9D9FA1;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-button-draw: #2A1E5C;
    --color-button-draw-hover: #150F2E;
    --color-button-clear: #AE1E2C;
    --color-button-clear-hover: #8C1823;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    font-family: "Inter", sans-serif;
    color: var(--color-text);
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.theme-switch-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 30px; 
}
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    z-index: 2;
}


.sun, .moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.sun {
    left: -30px; 
}

.moon {
    right: -30px;
}

input:not(:checked) ~ .slider .sun {
    opacity: 1;
}

input:not(:checked) ~ .slider .moon {
    opacity: 0.3; /* Semi-transparente cuando no está activo */
}

input:checked ~ .slider .sun {
    opacity: 0.3; /* Semi-transparente cuando no está activo */
}

input:checked ~ .slider .moon {
    opacity: 1;
}

.header-banner {
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    margin-bottom: 20px;
}

.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: var(--color-text);
}

.input-wrapper {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.input-name {
    flex: 1;
    padding: 12px 20px;
    border: 2px solid var(--color-border);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-text);
}

.button-add {
    padding: 12px 30px;
    background-color: var(--color-button);
    color: var(--color-white);
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 16px;
}

.button-add:hover {
    background-color: var(--color-button-hover);
}

.name-list {
    width: 100%;
    max-width: 600px;
    list-style: none;
}

.name-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: var(--color-bg-item);
    border-radius: 25px;
    box-shadow: 0 2px 4px var(--color-shadow);
}

.nombre-amigo {
    flex-grow: 1;
    margin-right: 16px;
}

.btn-eliminar {
    background: none;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    padding: 4px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-eliminar:hover {
    color: var(--color-button-clear);
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.button-draw,
.button-clear {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-white);
    width: 180px;
    height: 64px;
}

.button-draw {
    background-color: var(--color-button-draw);
}

.button-clear {
    background-color: var(--color-button-clear);
}

.button-draw:hover {
    background-color: var(--color-button-draw-hover);
}

.button-clear:hover {
    background-color: var(--color-button-clear-hover);
}

.result-list {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    list-style: none;
}

.resultado-sorteo {
    text-align: center;
    padding: 20px;
    background-color: var(--color-bg-item);
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 4px var(--color-shadow);
}

@media (max-width: 768px) {
    .main-title {
        font-size: 36px;
    }

    .section-title {
        font-size: 24px;
    }

    .button-container {
        flex-direction: column;
    }

    .button-draw,
    .button-clear {
        width: 100%;
    }
}